html{
    scroll-behavior: smooth;
}

#pic1{
    width: 1250px;
    height: 964px;
    margin-top: -1%;
    margin-left: -1%;
    position: absolute;
}

#p2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    margin-left: 1%;
    z-index: 200;
    position: absolute;
    color: white;
    font-size: 28px;
}

#p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 3%;
    margin-top: 21%;
    color: white;
    position: absolute;
    z-index: 200;
    font-size: 86px;
    text-shadow: 5px 7px 2px black;
}

#sl1{
    height: 135px;
    width: 105px;
    margin-left: 68.5%;
    margin-top: 0.1%;
    position: absolute;
}

#t1{
    text-shadow: 2px 2px 5px grey;
    margin-top: 2.6%;
    margin-left: 76.5%;
    z-index: 200;
    position:absolute;
    font-size: 23px;
}


#l1{
    margin-top: -0.4%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 150px;
}

#sl2{
    height: 125px;
    width: 120px;
    margin-left: 68%;
    margin-top: 8.35%;
    position: absolute;
}



#t2{
    text-shadow: 2px 2px 5px grey;
    margin-top: 10.5%;
    margin-left: 76.9%;
    z-index: 200;
    position:absolute;
    font-size: 23px;
}

#l2{
    margin-top: 7.5%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 150px;
}



#l3{
    margin-top: 15.4%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 160px;
}

#sl3{
    height: 130px;
    width: 145px;
    margin-left: 67.3%;
    margin-top: 16.35%;
    position: absolute;
}

#t3{
    text-shadow: 2px 2px 5px grey;
    margin-top: 17.9%;
    margin-left: 77.5%;
    z-index: 200;
    position:absolute;
    font-size: 23px;
}



#l4{
    margin-top: 24%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 160px;
}

#sl4{
    height: 125px;
    width: 150px;
    margin-left: 67.2%;
    margin-top: 25%;
    position: absolute;
}

#t4{
    text-shadow: 2px 2px 5px grey;
    margin-top: 27.2%;
    margin-left: 77.2%;
    z-index: 200;
    position:absolute;
    font-size: 23px;
}

#t5{
    text-shadow: 2px 2px 5px grey;
    margin-top: 34.3%;
    margin-left: 68%;
    z-index: 200;
    position:absolute;
    font-size: 27px;
}




#l5{
    margin-top: 32.55%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 160px;
}




#l6{
    margin-top: 41%;
    position: absolute;
    margin-left: 64%;
    border: 3px solid black;
    width: 677px;
    height: 152px;
}

#t6{
    text-shadow: 2px 2px 5px grey;
    margin-top: 43.2%;
    margin-left: 68%;
    z-index: 200;
    position:absolute;
    font-size: 27px;
}

@media only screen and (max-width:400px){
    #pic1{
        margin-top: -2%;
        margin-left: -2%;
        height: 340px;
        width: 399px;
    }
    #p2{
        margin-top: 2.1%;
        font-size: 21px;
    }
    #p1{
        text-shadow: 2px 3px 1.5px black;
        margin-top: 32%;
        z-index: 300;
        margin-left: 11%;
        font-size: 40px;
    }
    #l1{
        width: 393px;
        margin-left: -2%;
        margin-top: 82%;
    }
    #l2{
        width: 393px;
        margin-left: -2%;
        margin-top: 120%;
    }
    #l3{
        width: 393px;
        margin-left: -2%;
        margin-top: 158%;
    }
    #l4{
        width: 393px;
        margin-left: -2%;
        margin-top: 199%;
    }
    #l5{
        width: 393px;
        margin-left: -2%;
        margin-top: 240%;
    }
    #l6{
        width: 393px;
        margin-left: -2%;
        margin-top: 281%
    }
    #sl1{
        height: 103px;
        width: 90px;
        margin-left: 8%;
        margin-top: 89.5%;
    }
    #sl2{
        height: 105px;
        width: 110px;
        margin-left: 5%;
        margin-top: 127.2%;
    }
    #sl3{
        height: 100px;
        width: 115px;
        margin-left: 7%;
        margin-top: 167%;
    }
    #sl4{
        height: 100px;
        width: 130px;
        margin-left: 5%;
        margin-top: 207.4%;
    }
    #t1{
        margin-left: 42%;
        font-size: 18px;
        margin-top: 98%;
    }
    #t2{
        margin-left: 42.9%;
        font-size: 18px;
        margin-top: 136.2%;
    }
    #t3{
        margin-left: 43%;
        font-size: 18px;
        margin-top: 167%;
    }
    #t4{
        margin-left: 49.7%;
        font-size: 18px;
        margin-top: 215.7%;
    }
    #t5{
        margin-left: 10%;
        font-size: 21px;
        margin-top: 252%;
    }
    #t6{
        margin-left: 10%;
        font-size: 21px;
        margin-top: 292%;
    }
}
